<div style="width: 100%" class="row" >
<ul *ngFor="let employee of employees;let i =index" class="col-4">
  <div style="width: 100%">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img class="card-img-top" src="../assets/employeeImg.png" alt="Card image cap">
        <h6 class="card-title">Employee name: {{employee.name}}</h6>
        <h6 class="card-text">Employee dep: {{employee.department}}</h6>
      </div>
      <button type="button" class="btn btn-info"><a [routerLink]="['/showDetails/',employee.id]">show description</a> </button>
    </div>
  </div>
</ul>
</div>
