<div  >
    <div style="width: 100%">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <img class="card-img-top" src="../assets/employeeImg.png" alt="Card image cap">
          <h6 class="card-title">Employee name: {{employee.name}}</h6>
          <h6 class="card-text">Employee Status: {{employee.status}}</h6>
          <p class="card-text">Employee Status desc: {{employee.statusDescription}}</p>
          <h6 class="card-text">Employee dep: {{employee.department}}</h6>
          <h6 class="card-text">Employee salary: {{employee.salary}}</h6>
        </div>
        <button (click)="changeEmployeeStatus()" type="button" class="btn btn-info" >Change Status</button>
      </div>
    </div>
</div>
