<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Show All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/showBlocked">Show Blocked</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/showUnBlocked">Show Un-Blocked</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>


